<header class="h-100">
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar warning-color-dark ie-nav" [containerInside]="false">
    <logo>
        <!-- <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a> -->
        <img class="img-fluid" src="assets/images/logo.png" width="50px;" alt="Card image cap">&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active waves-light">
                    <img src="assets/images/logo.png" width="50px;" alt="Card image cap">
            </li> -->
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Features</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Opinions</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
</header>

<!-- <header class="h-100">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark warning-color-dark" [containerInside]="true">
    <logo>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  waves-light" mdbWavesEffect>

          <a class="nav-link">
            <i class="fa fa-home" aria-hidden="true"></i>Home
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">About Us</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Top Deals</a>
        </li>
        <li class="nav-item dropdown btn-group" mdbWavesEffect>
          <a type="button" data-toggle="modal" data-target="#basicExample" (click)="fluid.show()" class="nav-link dropdown-toggle waves-light">
            <i class="fa fa-flag" aria-hidden="true"></i>Destinations</a>
        </li>
        <li class="nav-item dropdown btn-group" mdbWavesEffect>
          <a type="button" data-toggle="modal" data-target="#basicExample" (click)="fluid1.show()" class="nav-link dropdown-toggle waves-light">Holiday Types</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Travel Advice</a>
        </li>

      </ul>
    </links>
  </mdb-navbar>
 
</header> -->


<!-- Header Model Popup -->
<!-- <div mdbModal #fluid="mdb-modal" class="modal fade top" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam, sunt, ea dolore eum quod. Minima fugiat
          enim aut soluta est reprehenderit reiciendis quos, qui, amet possimus laborum assumenda voluptate.
        </p>

        <ul class="list-group z-depth-0">
          <li class="list-group-item justify-content-between">
            Cras justo odio
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item justify-content-between">
            Morbi leo risus
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item justify-content-between">
            Cras justo odio
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item justify-content-between">
            Morbi leo risus
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide()" mdbWavesEffect>Close</button>
        <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #fluid1="mdb-modal" class="modal fade top" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title1</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid1.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam, sunt, ea dolore eum quod. Minima fugiat
          enim aut soluta est reprehenderit reiciendis quos, qui, amet possimus laborum assumenda voluptate.
        </p>

        <ul class="list-group z-depth-0">
          <li class="list-group-item justify-content-between">
            Cras justo odio
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item justify-content-between">
            Morbi leo risus
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item justify-content-between">
            Cras justo odio
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item justify-content-between">
            Morbi leo risus
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid1.hide()" mdbWavesEffect>Close</button>
        <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<!--Double navigation-->
